@font-face {
   font-family: 'Magnilia-script'; 
   src: url("/catalog/view/theme/default/fonts/Magnolia-Script.otf");
  
}

body {
	font-family: 'Magnilia-script', 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
	color: #990099;
}
	/*heade start*/
.head-row {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.header-item-phone {
		display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.head-text-info {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    color: #232323;
    margin: 19px 0px;
}
i.head-icon {
    width: 34px;
    margin-right: 5px;
}
.head-text-info img {
    margin: 0 auto;
}
.call-back-btn {
	width: 270px;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #990099;
    border: 1px solid #990099;
    transition: all 0.3s;
    font-family: "Myriad Pro";
    padding-top: 5px;
    font-weight: bold;
    font-size: 18px;
}
.call-back-btn:hover, .call-back-btn:active, .call-back-btn:focus {
	color: #990099;
	background: #fff;
	transition: all 0.3s;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
    box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
}
.header-item-phone-inner-box {
    margin: 0 5px;
    position: relative;
}
.head-address-text {
	font-size: 17px;
}
.header-item-phone-inner-box:first-child:before {
	content: '';
	position: absolute;
	display: block;
	width: 1px;
	height: 62%;
    right: -8px;
    top: 53%;
	transform: translateY(-50%);
	background: #999999;
}
header {
    padding: 20px 0 30px;
}
	/*heade end*/
	/*menu start*/
.menu-main-box {
	background: #232323;
}
.navbar {
    position: relative;
    min-height: 1px;
    margin-bottom: 0;
    border: none;
}
.navbar-collapse {
	padding: 0;
}
.navbar-nav {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.nav>li>a {
	font-size: 20px;
	color: #fff;
	padding: 20px 29px;
	transition: all 0.3s;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #990099;
    transition: all 0.3s;
}
	/*menu end*/
	
	/*footer start*/
footer {
	background: #232323;
    padding: 60px 0;
}
.social-footer-box {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.social-footer-box a {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
    color: #990099;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: all 0.3s;
    margin: 0 35px;
}
.social-footer-box a:hover {
	background:  #990099;
	color: #fff;
	transition: all 0.3s;
}
.social-footer-box a i {
	font-size: 38px;
}
.copy-right-text-box {
    width: 70%;
    margin: 85px auto 0;
    padding-top: 70px;
    text-align: center;
    border-top: 1px solid #666666;
}
.copy-right-text-box p {
	color: #fff;
	font-family: "Myriad Pro";
}
	/*footer end*/
	
	
.other-color__block {
	background-color: #f7f0e3;
}
.other-color__block.other-color__block__whitebg {
    background-color: #fff;
}
.about-kitchen {
    padding: 56px 0;
}
.about-kitchen__content {
	margin-top: 20px;
}
.about-kitchen__content-header {
    color: #cc0033;
    
    font-size: 36px;
}
.about-kitchen__content-text {
	color: #333333;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
a.lucya-btn {
    background-color: #cc0033;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding: 18px 0 13px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 270px;
    border: 1px solid #cc0033;
    transition: all 0.3s;
}
a.lucya-btn:hover {
	color: #cc0033;
	background: #fff;
	transition: all 0.3s;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(204,0,51,0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(204,0,51,0.75);
    box-shadow: inset 0px 0px 2px 0px rgba(204,0,51,0.75);
}
.banket {
	padding: 55px 0 105px 0;
}

.banket-header {
    text-align: center;
    color: #333333;
    font-size: 36px;
    margin-bottom: 50px;
}
.banket-block__content-img img {
	max-width: 100%;
}

.banket-block__content p {
	margin-top: 29px;
    color: #333333;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.banket-block__content a {
	margin-top: 17px;
    color: #cc0033;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.baking {
	background: url('/catalog/view/theme/default/image/baking-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0;
    background-attachment: fixed; 
}

.baking-text{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	position: relative; 
	z-index: 2;
}
.baking-text h2 {
	white-space: pre-line;
	color: #ffffff;
	font-size: 36px;
	margin: 0;
	text-align: center;
    line-height: 1.3;
}

.baking-block {
	padding: 108px 0;
	    background-color: #f7f0e3;
}

.baking-block__img img {
	max-width: 100%;
}

.baking-block__text {
    margin-top: 25px;
}

.baking-block__text h3 {
	color: #232323;
	font-size: 36px;
	margin: 0;
}

.baking-block__text p {
	color: #333333;
	font-family: "Myriad Pro";
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	margin: 33px 0 10px 0;
}
.gallery {
    padding-top: 50px;
}
.gallery-photo {
    margin-bottom: 30px;
}
.gallery-header {
    text-align: center;
    color: #333333;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
}
.gallery-btn {
    margin-top: 40px;
	margin-bottom: 20px;
}
.gallery-btn .lucya-btn {
	margin: 0 auto;
}

.contact{
	height: 563px;
	background: #000;
	position: relative;
}

.contact-content {
	background: #fff;
	padding: 36px 32px;
	position: absolute;
	top: 50%;
    right: 100px;
    transform: translateY(-50%);
}

.contact-text-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    color: #232323;
    margin: 19px 0px;
    white-space: pre-line;
    line-height: 1.3;
}

.contact-phone {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
}
.contact-phone a {
	margin-right: 23px;
}


/*Karaoke-start*/

.about-karaoke {
	padding-top: 56px;
    padding-bottom: 74px;
}
.about-karaoke__content {
	margin-top: 20px;
}
.about-karaoke__content-header {
    color: #cc0033;
    
    font-size: 36px;
}
.about-karaoke__content-text {
	color: #333333;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
/*Karaoke-end*/


    /*slider-home-page start*/
.owl-wrapper-outer {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.home-page-slider .owl-item a {
    display: block;
    position: relative;
}
.container.slider-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.slider-main-title {
    color: #fff;
    font-size: 85px;
    margin: 0;
    line-height: 1;
    text-shadow: 2px 2px 25px #000, 0 0 1em #000;
}
.slider-text {
    color: #fff;
    line-height: 1.4;
    font-size: 30px;
    margin: 25px 0 0;
    font-family: "Myriad Pro";
    text-shadow: 2px 2px 25px #000, 0 0 1em #000;
}
.home-page-slider.owl-carousel {
    margin-bottom: 0;
}
.owl-carousel .owl-buttons .owl-next {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    color: #eee;
    width: 70px;
    height: 70px;
    opacity: 0.7;
    transition: all 0.3s;
    transform: translateY(-50%);
}
.owl-carousel .owl-buttons .owl-prev {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    color: #eee;
    width: 70px;
    height: 70px;
    opacity: 0.7;
    transition: all 0.3s;
    transform: translateY(-50%);
}
.owl-carousel .owl-buttons .owl-next:hover, .owl-carousel .owl-buttons .owl-prev:hover {
    background: rgba(255,255,255,.7);
    color: #333;
    transition: all 0.3s;
}
.owl-carousel .owl-buttons div i {
    margin: 0;
    font-size: 74px;
}

    /*slider-home-page end*/
    
    
    /*product start*/
.our-kitchen {
    padding: 40px 0 60px;
    background: #f7f0e3;
}
.image img {
    width: 100%;
}
.price {
    height: 40px;
    display: -webkit-inline-box; 
    display: -webkit-inline-flex; 
    display: -ms-inline-flexbox; 
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background:  #990099;
	color: #fff;
	font-size: 22px;
	font-family: "Myriad Pro";
	font-weight: bold;
	padding: 0 15px;
	margin: 0;
}
.name-product {
    margin: 20px 0 7px;
    line-height: 1;
}
.name-product a {
    color: #cc0033;
    font-size: 14px;
    line-height: 14px;
    font-family: "Myriad Pro";
}
.description-product {
    font-size: 12px;
    line-height: 1.8;
    font-family: "Myriad Pro";
}
    /*product start*/
    
    /*baking-start*/

.about-baking {
	padding-top: 56px;
    padding-bottom: 74px;
}
.about-baking__content {
	margin-top: 20px;
}
.about-baking__content-header {
    color: #cc0033;
    text-align: center;
    font-size: 36px;
}
.about-baking__content-text {
	color: #333333;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
/*baking-end*/

/*banket-start*/

.about-banket {
	padding-top: 56px;
    padding-bottom: 74px;
}
.about-banket__content {
	margin: 20px 0;
}
.common-home .about-banket__content {
    text-align: center;
}
.about-banket__content-header {
    color: #cc0033;
    font-size: 36px;
    margin-bottom: 27px;
}
.about-banket__content-text {
	color: #333333;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.about-banket__content-right a.lucya-btn {
    background-color: #990099;
}

/*banket-end*/

/*video-start*/
.video {
    padding: 53px 0 103px 0;
}
.video-header {
    color: #cc0033;
    font-size: 36px;
    margin-bottom: 27px;
}

.video-content iframe {
    width: 100%;
    height: 665px;
}

/*video-end*/

/*page-contact*/

.page-contact {
    padding: 58px 0;
}

.page-contact__header{
    color: #333333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 42px;
}

.page-contact__maps {
    height: 441px;
}
.page-contact__content {
    margin-top: 34px;
}

.input__contact{
    width: 30%;
    padding: 11px;
}
.input__contact-second{
    margin: 0 25px;
}
.input__contact-big {
    margin-top: 25px;
    width: 100%;
    padding: 11px 0 112px 11px;
    resize: none;
}
.input__contact-btn {
    margin-top: 28px;
    float: right;
}
    /*modal*/

.modal-dialog {
    width: 30%;
}
.modal-content h4 {
    font-size: 22px;
    text-align: center;
    margin: 0 auto 25px;
}
.modal-content p {
    font-size: 14px;
    text-align: center;
} 
.modal-content .input-field {
    width: 80%;
    margin: 0 auto 25px;
    position: relative;
}
.input-field input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #333333;
    transition: all 0.3s;
}
.input-field button {
    width: 100%;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #990099;
    border: 1px solid #990099;
    transition: all 0.3s;
    font-weight: bold;
    font-family: "Myriad Pro";
    padding-top: 5px;
}
.thanks-text {
    display: none;
}
.error {
    color: #990099;
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 11px;
}
.input-field input:focus, .input-field input:active {
    border: 1px solid #990099;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(153,0,153,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(153,0,153,1);
    box-shadow: 0px 0px 5px 0px rgba(153,0,153,1);
    outline: none;
}
.input-field button:hover, .input-field button:active, .input-field button:focus {
	color: #990099;
	background: #fff;
	outline: none;
	transition: all 0.3s;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
    box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.close:focus, .close:hover {
    color: #990099;
    outline: none;
}
.modal-content {
    border-radius: 0;
}
.map-box {
    height: 563px;
}
.galefy-info-box {
        background-color: #f7f0e3;
}
.owl-gallery-no-slides a {
    position: relative;
    display: block;
}
.owl-gallery-no-slides a img {
    width: 100%;
}
.owl-gallery-no-slides a.hovered:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.owl-gallery-no-slides a:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.owl-gallery-no-slides a:hover:before {
    opacity: 0;
    transition: all 0.5s;
}
.owl-gallery-no-slides a.hovered:before {
    opacity: 1;
    transition: all 0.5s;
}
.owl-gallery.owl-carousel .owl-buttons .owl-next, .owl-gallery.owl-carousel .owl-buttons .owl-prev {
    border-radius: 50%;
}
.menu-list-item {
    font-size: 22px;
    text-transform: capitalize;
    color: #444;
    text-align: center;
    display: block;
    margin: 10px 0;
}
.owl-carousel {
    background: transparent;
    margin: 0;
}
.productes-box-wrap {
    margin: 15px 0;
}
.pages-of-products-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 15px 0;
}
.pages-of-products-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    color: #fff;
    background: #909;
    padding: 5px 15px;
    border: 1px solid #909;
    width: 185px;
    transition: all 0.3s;
}
.pages-of-products-item:hover {
    background: #fff;
    color: #909;
    transition: all 0.3s;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
    box-shadow: inset 0px 0px 2px 0px rgba(153,0,153,0.75);
}
#form-review h2 {
    margin-top: 0;
}
.reviewses-box {
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}
.main-img-item {
    display: block;
    border: 1px solid #909;
}
.main-img-item img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
#review .fa {
    color: #909;
}
.additional-inner-item {
     -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #909;
}
.additional-inner-item img {
    width: 100%;
}
.additional-box-images {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.slider-of-additionals-images.owl-carousel .owl-buttons .owl-next {
    width: 30px;
    height: 30px;
    right: 0;
    overflow: hidden;
}
.slider-of-additionals-images.owl-carousel .owl-buttons .owl-prev {
    width: 30px;
    height: 30px;
    left: 0;
    overflow: hidden;
}
.main-info-product-box {
    margin-top: 0;
}
.main-prices-pr-page {
    color: #909;
}
.banket-block__content .about-banket__content-right a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    color: #232323;
    margin: 19px 0px;
    font-family: 'Magnilia-script', 'Open Sans', sans-serif;
    text-transform: lowercase;
}
.banket-block__content .about-banket__content-right a.call-back-btn.bankets-btnses {
    text-transform: uppercase;
     font-family: "Myriad Pro";
     color: #fff;
}
.banket-block__content .about-banket__content-right a.call-back-btn.bankets-btnses:hover,
.banket-block__content .about-banket__content-right a.call-back-btn.bankets-btnses:active,
.banket-block__content .about-banket__content-right a.call-back-btn.bankets-btnses:focus {
    color: #990099;
}
.banket-block__content-img {
    position: relative;
}
span.flour-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #909;
    border: 1px solid #909;
    padding: 5px 15px;
    font-size: 24px;
    background: rgba(255,255,255,.8);
}
/*big-slide-img*/
.home-page-slider img {
    height: 450px;
    width: 100%;
}
.owl-gallery {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-bottom: 35px;
}
/*big-slide-img*/
@media(min-width:1500px) {
    .contact-content {
        right: 5%;
        transform: translate(-50%, -50%);
    }
}
@media(max-width: 1200px) {
    .nav>li>a {
        padding: 20px 15px;
    }
    .call-back-btn {
        width: 165px;
    }
    .header-item-phone-inner-box {
        margin: 0;
    }
    .header-item-phone-inner-box:first-child:before {
        display: none;
    }
    i.head-icon {
        margin-right: 0;
        margin-left: 7px;
    }
    .head-text-info {
        font-size: 18px;
    }
    .slider-main-title {
        font-size: 38px;
    }
    .slider-text {
        font-size: 18px;
    }
    .container.slider-container {
        padding-left: 100px;
    }
    a.lucya-btn {
        width: 230px;
    }
    .contact-content {
        right: 0;
    }
    .home-page-slider img {
        height: auto;
    }
}
@media(max-width: 992px) {
    .head-row {
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
    .nav>li>a {
        padding: 20px 10px;
        font-size: 16px;
    }
    .slider-text {
        font-size: 18px;
        margin: 10px 0 0;
    }
    a.lucya-btn {
        width: 175px;
    }
    .contact-content {
        padding: 15px;
    }
}
@media(max-width: 767px) {
    .header-item-phone {
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
    .head-text-info {
        margin: 10px 0px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center; 
    }
    .call-back-btn {
        width: 290px;
        margin: 15px auto 0;
    }
    .navbar-header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        color: #fff;
        font-size: 26px;
    }
    .navbar-toggle {
        margin: 0;
    }
    .navbar-toggle .fa {
        font-size: 24px;
    }
    .container.slider-container {
       padding-left: 45px;
       padding-right: 15px;
       width: 100%;
    }
    .owl-carousel .owl-buttons .owl-next, .owl-carousel .owl-buttons .owl-prev {
        width: 30px;
        height: 30px;
    }
    .owl-carousel .owl-buttons div i {
        font-size: 36px;
    }
    .slider-main-title {
        font-size: 26px;
    }
    .slider-text {
        font-size: 14px;
        margin: 5px 0 0;
    }
    .our-kitchen {
        padding: 25px 0 25px;
    }
    a.lucya-btn {
        width: 300px;
        margin: 15px auto;
    }
    .banket-header {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .banket-block__content-img img {
        max-width: 100%;
        width: 100%;
    }
    .banket-block__content {
        margin-bottom: 15px;
    }
    .banket {
        padding: 25px 0;
    }
    .baking-text h2 {
        font-size: 38px;
    }
    .baking {
        padding: 25px 0;
    }
    .baking-block {
        padding: 25px 0;
    }
    .baking-block__text h3 {
        text-align: center;
    }
    .gallery-photo {
        margin-bottom: 15px;
        width: 50%;
        float: left;
        overflow: hidden;
    }
    .modal-dialog {
        width: 90%;
        margin: 15px auto;
    }
    .contact {
        height: auto;
        background: #eee;
        position: relative;
    }
    .contact-content {
        position: relative;
        transform: translate(0,0);
    }
    .map-box {
        height: 350px;
    }
    footer {
        background: #232323;
        padding: 25px 0;
    }
    .copy-right-text-box {
        width: 90%;
        margin: 25px auto 0;
        padding-top: 25px;
    }
    .gallery-btn {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .navbar-nav {
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start; 
        padding-left: 15px;
    }
    .nav>li>a {
        padding: 5px 10px;
        font-size: 18px;
    }
    .pages-of-products-item {
        width: 115px;
    }
    .info-pr-wrap.row {
        margin: 0;
    }
    #form-review.form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .row.product-page {
        margin: 0;
    }
    .additional-inner-item {
        width: 40%;
    }
}
@media(max-width: 500px) {
    .baking-text h2 {
        font-size: 28px;
    }
    .social-footer-box a {
        width: 70px;
        height: 70px;
        margin: 0 5px;
    }
    a.lucya-btn {
        width: 230px;
    }
    .slider-text {
        display: none;
    }
    .banket-block__content p {
        margin-top: 9px;
        margin-bottom: 0;
    }
    .baking-block__text p {
        margin: 10px 0 0 0;
    }
    .contact-phone {
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
    .modal-content .input-field {
        width: 100%;
        margin: 0 auto 25px;
        position: relative;
    }
}
@media(max-width: 320px) {
    i.head-icon {
        margin-right: 0;
        margin-left: 0;
    }
}